<!DOCTYPE html>
<html>
  <head>
    <title> Main Page </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <ul>
          <li><a href= "/"> Home Page </a> </li>
          <li><a href= "/test"> Test </a> </li>
          <li> <a href="/games/"> Games Home Page </a> </li>
        </ul>
    </nav>
